body {
  font-family: "Inter", sans-serif;
}

h1 {
  text-align: center;
  color: palevioletred;
}

h2 {
  text-align: center;
}

#footer {
  background-color: black;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
}

#ele-footer {
  color: white;
  text-align: center;
}

.social {
  margin: 0;
}

h3 {
  color: palevioletred;
}

.anni {
  background-color: palevioletred;
}

#esperienze {
  margin-bottom: 1px;
}

img {
  border: 4px solid palevioletred;
  border-radius: 20px;
}

.icon {
  color: palevioletred;
}

#lista {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

ul,
ol {
  display: block;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.second {
  background-color: #ffe7ec;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
  padding: 50px;
  border-radius: 50px;
}

a {
  text-align: center;
}

.img {
  text-align: center;
  padding-top: 20px;
}

.table {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

table {
  width: 100%;
}
th,
tr,
td {
  text-align: center;
}

td [colspan] {
  text-align: left;
}
