body {
  font-family: "Inter", sans-serif;
}

main {
  display: flex;
  align-items: start;
  justify-content: space-around;
}
section {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  color: palevioletred;
}

aside {
  border-radius: 10px;
  width: 20%;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}

address {
  background-color: rgb(230, 142, 171);
  line-height: 1.5em;
  padding: 10px;
}

aside p {
  text-align: justify;
  line-height: 1.5em;
}

img {
  border: 4px solid palevioletred;
  border-radius: 20px;
}

section > div {
  width: 40%;
  background-color: #ffe7ec;
  border-radius: 50px;
  padding: 15px;
  margin-top: 2em;
}

footer p {
  color: white;
}
footer p:first-child {
  display: flex;
  width: 10%;
  justify-content: space-around;
}
footer p:first-child a {
  color: white;
}
#footer {
  background-color: black;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

h3 {
  color: palevioletred;
}

.anni {
  background-color: palevioletred;
}

#esperienze {
  margin-bottom: 1px;
}

.icon {
  color: palevioletred;
}

section div:nth-child(4) {
  width: 50%;
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

ul,
ol {
  display: block;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

a {
  text-align: center;
}

.img {
  text-align: center;
  padding-top: 20px;
}

.table {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

table {
  width: 100%;
}
th,
tr,
td {
  text-align: center;
}

td [colspan] {
  text-align: left;
}
